<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<staticContent>
			<mimeMap fileExtension=".dmg" mimeType="file/download" />
		</staticContent>
        <defaultDocument>
            <files>
                <remove value="Default.asp" />
                <remove value="index.htm" />
                <remove value="Default.htm" />
            </files>
        </defaultDocument>
      <rewrite>
         <rules>
                <clear />
                <rule name="CP Routes 1" stopProcessing="true">
                    <match url="(mybfsbuilder|customer-portal)/(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="https://mybfs.bldr.com/mybfsbuilder/{R:2}" />
                </rule>
                <rule name="CP Routes 2" stopProcessing="true">
                    <match url="^((login|register|sales|customer|paymentgateway|Content|mybfsbuilder).*)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="https://mybfs.bldr.com/{R:1}" />
                </rule>
                <rule name="mybfsbuilder url change" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="customer-portal*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="mybfsbuilder{R:1}" />
                </rule>
                <rule name="NixTrailingSlash" stopProcessing="true">
                    <match url="^(.*)/$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="https://www.bldr.com/{R:1}" />
                </rule>
                <rule name="Redirect rule1 for UrlChange20190319">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{UrlChange20190319:{REQUEST_URI}}" pattern="(.+)" />
                    </conditions>
                    <action type="Redirect" url="{C:1}" appendQueryString="false" />
                </rule>
                <rule name="React Routes" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{URL}" pattern="software" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/" />
                </rule>
         </rules>
            <rewriteMaps>
                <rewriteMap name="UrlChange20190319">
                    <add key="/about-us/about-us" value="/about-us" />
                    <add key="/residential" value="/construction-type#residential" />
                    <add key="/remodel" value="/construction-type#remodel" />
                    <add key="/commercial" value="/construction-type#commercial" />
                    <add key="/terms" value="/forms-library" />
                </rewriteMap>
            </rewriteMaps>
      </rewrite>
    </system.webServer>
</configuration>
